.babel_cache
docs/*
.circleci
.cpcache
.devcontainer
.github
.husky
.lsp
.shadow-cljs
.github
.vscode
hooks/*
test/*
test_config/*
test_modules/*
test_resources/*
node_modules

*.db

Dockerfile
.dockerignore
